.step {
    flex: 7;
    padding-left: 50px;

    @media (max-width:767px) {
        padding-left: 0;
        background-color: var(--white);
        border-radius: var(--bd-radius);
        width: 90%;
        position: absolute;
        top: 120px;
        left: 50% ;
        transform: translate(-50%);
    }
}