.one {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-right: 30px;

    @media (max-width:767px) {
        padding: 30px;
    }

    h1 {
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
        color: var(--marine-blue);
    }

    p {
        color: var(--cool-gray);
        font-size: 0.85rem;
        margin-bottom: 50px;

        @media (max-width:767px) {
            margin-bottom: 20px;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .input_wrapper {
            display: flex;
            flex-direction: column;

            .input {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                label {
                    display: flex;
                    justify-content: space-between;
                    color: var(--marine-blue);
                    margin-bottom: 5px;
                    font-weight: 700;
                    font-size: 0.9rem;

                    p {
                        margin-bottom: 0;
                        right: 0;
                        top: 0;
                        color: red;
                        font-weight: bold;
                        animation: shake 0.1s;
                    }
                }

                input {
                    height: 45px;
                    outline: none;
                    border: 1px solid var(--light-gray);
                    border-radius: var(--bd-radius);
                    padding: 0 10px;
                    color: var(--marine-blue);
                    font-weight: bold;
                }
            }
        }

        .btn {
            display: flex;
            justify-content: flex-end;
        }
    }
}


@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}