@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --bg: hsl(204, 100%, 95%);
  --pinkish: rgb(255, 244, 246);
  --strawberry-red: hsla(354, 99%, 64%, 0.775);

  --bd-radius: 10px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  color: var(--white);
  background-color: var(--marine-blue);
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--purplish-blue);
}